*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.h5
*.keras
*.mid
temp.mid

/data/
/models/
/maestro-v2_extracted/

*.zip
*.csv
*.png

**/__pycache__/
**/*.pyc
old/LB_1/temperature_moscow.png
old/LB_2/*.csv
old/LB_2/*.png
old/LB_4/sources/

!LB_2/requirements.txt
!**/config.py
!**/main.py
!**/*.py
LB_2/dop/*
